ul.nav-bar-list{
  list-style: none;
  background-color: rgb(192, 128, 10) ;
  overflow: hidden;
  text-align: left;
  margin: 0px;
  

}
li.nav-bar-list-item {
    float: left;
    
}

li.nav-bar-list-item a{
   display: block;
   padding: 16px 24px;
   color: white;;

}

li.nav-bar-list-item a.active{
    background-color: rgb(113, 236, 13);
}

li.nav-bar-list-item a:hover:not(.active){
    color: black;
  
}

li.nav-bar-list-item:last-child{
   float: right;
  
}