*
{
    box-sizing: border-box;
}
.login-page{

    width:100vw;
    height:100vh;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(226, 224, 224);

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.login-container{
    width: 400px;
    /* height: 300px; */
    border:none;
    box-shadow: 5px 5px 10px 10px #dfdddd;
    background-color: rgb(234, 235, 230);
    /* box-sizing: border-box; */
}
.login-header{
    /* background-color: rgb(218, 218, 8); */
    background-color: rgb(192, 128, 10) ;
    margin-top: 1px;
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.user-name-input, .password-input{
padding: 10px 15px;
width:80%;
margin-top: 20px;
margin-bottom: 20px;
border-radius: 5px;
border: none;

}


/* .rememberme-checkbox{
    display: block;
    width: 30px;
} */
 a:link{
    display: inline-block;
    text-decoration: none;
    color:#04c5fa;
  }
 
 a:hover{
  
    color:rgb(192, 128, 10);
    cursor: pointer;
    text-decoration: underline;
}
.rememberme-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.submit-button{
    padding: 10px 15px;
    width:80%;
    font-size:medium;
    /* background-color: rgb(218, 218, 8); */
    background-color: rgb(192, 128, 10) ;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color:  white;
    
    
}
.submit-button:hover{
 cursor:pointer;
 background-color: rgba(192, 128, 10, 0.7) ;
}
.signup-container{
    display: flex;
    justify-content:flex-start;  
     margin-left: 50px;
    margin-bottom: 20px;
    text-align: left;
}

.error-message{
    color: #D8000C;
    background-color: #FFBABA;
    /* background-image: url('https://i.imgur.com/GnyDvKN.png'); */
    /* background-repeat:no-repeat */

}
.success-message{
   
        color: #4F8A10;
        background-color: #DFF2BF;
        /* background-image: url('https://i.imgur.com/Q9BGTuy.png'); */
        /* background-repeat:no-repeat */
}